
.information, .transaction {
    width: 80%;
    margin: 2% 10% 1%;
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
}

.info1 {
    flex: 0 0 70%;  
}
.info2 {
    height: 60px;
    padding: 20px;
    flex: 0 0 30%;
    background-color: rgb(180, 232, 245);
    font-size: 30px;
}
.info1 h3{
    margin-bottom: 10px;
}
.info2 button{
    width: 100%;
    height: 40%;
    margin-top: 10%;
    font-size: 10px;
  background-color: rgb(23, 121, 233);
  color: white;
  text-align: center;
  border: none;
  border-radius: 10px;
}
.info1 p{
    font-size: 10px;
}
.info2 p{
    font-size: 15px;
}
.tran1 {
    flex: 0 0 20% ;
}
.tran2{
    margin-left: 60px;
    flex: 0 0 56%;
}
.tran2 input{
    width: 100%;
   flex-direction: column;
   margin-bottom: 10px;
}
.transaction h2{
    margin-bottom: 10px;
}
.tran2 label{
    font-size: 2opx;
}

.transaction2 {
   width: 80%;
   margin: 0% 10% 5%;
}
.transaction2 button{
    width: 20%;
    height: 30px;
    margin-left: 10px;
    color: aliceblue;
    background-color: rgb(23, 121, 233);
    border-radius: 5px;
    border: none;
}
.transaction2 select{
    width: 25%;
}
.rooms p{
    font-size: 10px;
}
.rooms, .room, .room2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}
.room1{
    flex: 0 0 60%;
}
.room{
   flex: 0 0 50%;
}
.room2{
    flex: 0 0 40%
}
.room2 label{
    text-align: center;
    font-size: 10px;
    padding-top: 10px;
    color: rgb(136, 130, 122);
}
.room2 input{
    width: 15px;
    margin-top: -10px;
}
.roominfo{
    margin: 5px;
    display: flex;
    flex-direction: column
    
}